name: Checkmarx One Scan
on:
  push:
    branches:
      - main
      - master
      - dev
  pull_request:
env:
  platforms: Dockerfile
  scanTypes: iac-security,sast
  threshold: iac-security-high=1=,iac-security-medium=1,iac-securitylow=1    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Checkmarx One CLI Action
        uses: checkmarx/ast-github-action@main
        with:
          project_name: test_GitHuybAction_SSH
          cx_tenant: Cx_Seg
          base_uri: https://eu.ast.checkmarx.net
          cx_client_id: ${{ secrets.CX_CLIENT_ID }}
          cx_client_secret: ${{ secrets.CX_CLIENT_SECRET }}
          additional_params: --iac-security-platforms ${{ env.platform }} --debug --scan-types ${{ env.scanTypes }} --threshold ${{ env.threshold }}

